#mainBG{
    background-color: black;
    height: 160px; width: 23%;
    border-radius: 80px;

}

#secondBG{
    background-color: rgb(241, 241, 241);
    height: 140px; width: 45%;
    border-radius: 100%;
    position: relative;
    top: 6.5%; left: 3%;
    /*animation: toggleMode1 3s;*/
    
}

.toggleContainer{
    margin-top: 20%;
    margin-left: 30%;

}

#mainBody{
    /*animation: colorTransition1 5s ease-in;*/
}

@keyframes toggleMode1 {
    0% {left: 3%;}
    100% {left: 52%;}
}

@keyframes toggleMode2 {
    0% {left: 52%}
    100% {left:3%;}
}

/* Color transitions*/
@keyframes colorTransition1{
    0% {background-color: #fff; }
    100%{background-color: #2B2B2B;}
}
@keyframes colorTransition2{
    0%{background-color: #2B2B2B;}
    100% {background-color: #fff;}
}