.mainBackground{background-color: rgb(218, 218, 218); width: 100%; margin: 0;
    /*animation: colorTransition1 3s ease-in;*/
}

.title-item{
    list-style: none;
    display: inline-block;
    position: relative;
}

.titleBar{
    /*background-color: red;*/
    width: max;
    text-align: center;
}

.title{
    font-size: 50px;
    position: inherit;

}
.arrowBars{
    position: relative;
    top: 11px;
    margin: 0px 80px 0px 80px;
}

#englishTextBox{
    height: 250px; width: 50%; font-size: 60px;
    border-bottom-left-radius: 15px;
    background-color: white;
}
#morseTextBox{
    height: 250px; width: 50%; font-size: 60px;
    border-bottom-right-radius: 15px;
}

.textBoxes{
    list-style: none;
    display: flex;
    /*background-color: red;*/
    width: 100%;
}

.buttonSet1{
    height: 93px; width: 20%; font-size: 200%; background-color: rgba(122, 122, 122, 0.178);
    /*color: #fff;*/
    color: #000;
    margin: 20px 30px 0px 30px;
    border-radius: 40px;
    box-shadow: 6px 8px 10px 2px black;
    
    text-align: center;
    min-width: 220px;


}
#buttonSetTranslate{
    /*height: 100px; width: 300px; font-size: 40px;*/
    height: 93px; width: 18%; font-size: 200%;
    color: rgb(235, 235, 235); background-color: rgb(170, 34, 34);
    margin: 20px 30px 0px 30px;
    border-radius: 40px;
    animation: translateButton 3s ease-in; /*One time intro anim*/
    box-shadow: 6px 8px 15px 2px black;

    min-width: 220px; text-align: center;
}

#buttonSetTranslate:hover{
    color: rgb(170, 34, 34); background-color: rgb(0, 0, 0);
    transition: 0.33s ease-in;
}

/**/
#mainBG{
    background-color: black;
    height: 40px; width: 200px;
    border-radius: 80px;
    margin: 4px 0px 10px 0px;
    padding-top: 3px;
}

#secondBG{
    background-color: rgb(241, 241, 241);
    height: 30px; width: 45%;
    /*border-radius: 100%;*/
    border-radius: 80px;
    position: relative;
    top: 6.5%; left: 3%;
    /*animation: toggleMode1 3s;*/
    
}

.toggleContainer{
    margin-top: 0%;
    /*padding-left: 84%;*/
    padding-left: 84%;

    width: 40px;
}
/*
#mainBody{
    animation: colorTransition1 5s ease-in;
}
*/

.frame1Cont{
    display:flex;
    margin: auto;
    /*background-color: black;*/
    margin-top: 8%;
    width: 100%; height: 91px;
}

.frame1{
    margin: auto;
    background-color: rgb(168, 168, 168);
    width: 47%; height: 300px;
    border-radius: 15px;
}
.frame2{
    margin: auto;
    background-color: rgb(168, 168, 168);
    width: 47%; height: 300px;
    border-radius: 15px;
}

.errorDiv{
    height: 70px; width: 50%;
    background-color: #2b2b2b;
    border: 3.5px solid red ;
    margin: 15px 10px 0px 10px;
    border-radius: 10px;
    display: none;
}
.errorText{
    display: none;
    color:red;
    margin: 10px 0px 0px 20px;
}

/*ANIMS LIST*/
@keyframes rotating{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(45deg)}
}

@keyframes toggleMode1 {
    0% {left: 3%;}
    100% {left: 52%;}
}

@keyframes toggleMode2 {
    0% {left: 52%}
    100% {left:3%;}
}

/* Color transitions*/
@keyframes colorTransition1{
    0% {background-color: rgb(218, 218, 218); }
    100%{background-color: #2B2B2B;}
}
@keyframes colorTransition2{
    0%{background-color: #2B2B2B;}
    100% {background-color: rgb(218, 218, 218);}
}
@keyframes textColorTransition1{
    0% {color: black;}
    100%{color: #fff;}
}
@keyframes textColorTransition2{
    0% {color: #fff;}
    100%{color: black;}
}

@keyframes textBox1{
    0%{color : #000;}
    100%{color: #fff;}
}
@keyframes textBox2{
    0%{color: #fff;}
    100%{color : #000;}
}
/**/

/*Animations list*/
@keyframes inputErrorAnim1{
    0%{border: solid 4px red;}
    0%{border: solid 4px blue;}
}

@keyframes translateButton{
    0%{
        transform:rotate(0deg)
    }
    25%{
        transform:rotate(5deg)
    }
    50%{
        transform:rotate(-5deg)
    }
    750%{
        transform:rotate(5deg)
    }
    100%{
        transform:rotate(0deg)
    }
}

@keyframes resizeButtonMargin{
    0%{
        margin: 1% 0% 0% 0%;
    }
    50%{
        margin: 10% 0% 0% 0%;
    }
}